{% extends "base.html" %}
{% block title %}Perfil{% endblock %}
{% block content %}
<h2>Perfil do Usuário</h2>
<p>Nome: {{ user.username }}</p>
<p>Tipo de Conta: {{ user.role|capitalize }}</p>

<h3>Alterar Informações</h3>
<form method="POST" action="{{ url_for('main.profile') }}">

    <label for="new_username">Novo Nome de Usuário:</label>
    <input type="text" id="new_username" name="new_username" placeholder="Novo Nome de Usuário">
    
    <label for="new_password">Nova Senha:</label>
    <input type="password" id="new_password" name="new_password" placeholder="Nova Senha">
    
    <label for="confirm_password">Confirme a Senha:</label>
    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirme a Senha" required>
    
    <button type="submit">Atualizar</button>
</form>
{% endblock %}
